func (w *Writer) escapeChars_escape{{if .EscapeEnabled}}En{{else}}Dis{{end}}abled_memclear{{if .ClearMemoryAfterUse}}En{{else}}Dis{{end}}abled(v []byte, i int) (int, error) {
	var si, di int
	var r rune

	for {
		r, di = utf8.DecodeRune(v[i:])
		if di == 0 {
			return si, nil
		}

		if di == 1 && r == utf8.RuneError {
			if w.errOnNonUTF8 {
				return 0, ErrNonUTF8InRecord
			}

			i += di
			continue
		}

		switch r {
		case w.quote:{{if .ClearMemoryAfterUse}}
			w.appendField(v[si:i], w.escapedQuote[:w.escapedQuoteByteLen])
			{{else}}
			w.fieldBuf = append(w.fieldBuf, v[si:i]...)
			w.fieldBuf = append(w.fieldBuf, w.escapedQuote[:w.escapedQuoteByteLen]...)
			{{end}}

			i += di
			si = i
		{{if .EscapeEnabled}}case w.escape:{{if .ClearMemoryAfterUse}}
			w.appendField(v[si:i], w.escapedEscape[:w.escapedEscapeByteLen])
			{{else}}
			w.fieldBuf = append(w.fieldBuf, v[si:i]...)
			w.fieldBuf = append(w.fieldBuf, w.escapedEscape[:w.escapedEscapeByteLen]...)
			{{end}}

			i += di
			si = i
		{{end}}default:
			i += di
		}
	}
}
