func (w *Writer) processField_escape{{if .EscapeSet}}S{{else}}Uns{{end}}et_quote{{if .QuoteForced}}F{{else}}Unf{{end}}orced_memclear{{if .ClearMemoryAfterUse}}En{{else}}Dis{{end}}abled(v []byte) (int, error) {
	{{if .QuoteForced}}
	n, err := w.escapeChars_escape{{if .EscapeSet}}En{{else}}Dis{{end}}abled_memclear{{if .ClearMemoryAfterUse}}En{{else}}Dis{{end}}abled(v, 0)
	if err != nil {
		return -1, err
	}

	return n, nil{{else}}var si, i, di int
	var r rune

	for {
		r, di = utf8.DecodeRune(v[i:])
		if di == 0 {
			return -1, nil
		}
		if di == 1 && r == utf8.RuneError {
			if w.errOnNonUTF8 {
				return -1, ErrNonUTF8InRecord
			}

			i += di
			continue
		}

		switch r {
		case w.quote:{{if .ClearMemoryAfterUse}}
			w.appendField(v[:i], w.escapedQuote[:w.escapedQuoteByteLen])
			{{else}}
			w.fieldBuf = append(w.fieldBuf, v[:i]...)
			w.fieldBuf = append(w.fieldBuf, w.escapedQuote[:w.escapedQuoteByteLen]...)
			{{end}}

			i += di
			si = i
		{{if .EscapeSet}}case w.escape:{{if .ClearMemoryAfterUse}}
			w.appendField(v[:i], w.escapedEscape[:w.escapedEscapeByteLen])
			{{else}}
			w.fieldBuf = append(w.fieldBuf, v[:i]...)
			w.fieldBuf = append(w.fieldBuf, w.escapedEscape[:w.escapedEscapeByteLen]...)
			{{end}}

			i += di
			si = i
		{{end}}default:
			i += di

			if !w.runeRequiresQuotes(r) {
				continue
			}
		}

		break
	}

	si2, err := w.escapeChars_escape{{if .EscapeSet}}En{{else}}Dis{{end}}abled_memclear{{if .ClearMemoryAfterUse}}En{{else}}Dis{{end}}abled(v[si:], i-si)
	if err != nil {
		return -1, err
	}

	return si + si2, nil{{end}}
}
