{{- define "appendRec0"}}{{if .ClearMemoryAfterUse}}w.appendRec({{else}}w.recordBuf = append(w.recordBuf, {{end}}{{end}}
{{define "appendRec1"}}{{if .ClearMemoryAfterUse}}){{else}}...){{end}}{{end -}}
{{define "appendRecJoin"}}{{if .ClearMemoryAfterUse}}, {{else}}...)
w.recordBuf = append(w.recordBuf, {{end}}{{end -}}

{{- if .ForceQuoteCommentStart -}}
func (w *Writer) writeRowAfterHeader_memclearO{{if .ClearMemoryAfterUse}}n{{else}}ff{{end}}_escapeO{{if .Escape}}n{{else}}ff{{end}}_checkUTF8O{{if .CheckUTF8}}n{{else}}ff{{end}}(comment rune) writeRowFunc {
commentBytes := []byte(string(comment))

return func(fields []FieldWriter) (int, error) {
{{- else -}}
func (w *Writer) writeRow_memclearO{{if .ClearMemoryAfterUse}}n{{else}}ff{{end}}_escapeO{{if .Escape}}n{{else}}ff{{end}}_checkUTF8O{{if .CheckUTF8}}n{{else}}ff{{end}}(fields []FieldWriter) (int, error) {
{{- end}}
	defer func() {
		w.recordBuf = w.recordBuf[:0]
	}(){{if .ForceQuoteCommentStart}}

	w.writeRow = w.writeRow_memclearO{{if .ClearMemoryAfterUse}}n{{else}}ff{{end}}_escapeO{{if .Escape}}n{{else}}ff{{end}}_checkUTF8O{{if .CheckUTF8}}n{{else}}ff{{end}}
	{{end}}

	// srcLoad is called after a quote, escape, or csv format sensitive character is found in the field data.
	// The parent context will handle wrapping the field in quotes and handle escaped replacing of the first
	// instance of quote or escape if applicable.
	//
	// It continues with appending the data up to a potentially additional quote or escape character, then
	// appends the escaped version of that character and continues repeating that process for the rest of
	// the field.
	//
	// Essentially the function does the same as the parent context except has no intent around overall
	// quoting the field or detecting runes outside of the quote + escape character.
	srcLoad := func(src []byte, loadIdx, scanIdx int) {
		// escape any quote {{if .Escape}}or escape {{end}}runes found
		for {
			i := bytes.IndexAny(src[scanIdx:], w.escapeControlRunes)
			if i == -1 {
				{{template "appendRec0" .}}src[loadIdx:]{{template "appendRec1" .}}
				return
			}
			i += scanIdx

			{{template "appendRec0" .}}src[loadIdx:i]{{template "appendRec1" .}}

			{{if .Escape}}
			r, n := utf8.DecodeRune(src[i:])
			switch r {
			case w.quote:
				{{template "appendRec0" .}}w.escapedQuote[:w.escapedQuoteByteLen]{{template "appendRec1" .}}
			default:
				{{template "appendRec0" .}}w.escapedEscape[:w.escapedEscapeByteLen]{{template "appendRec1" .}}
			}

			loadIdx = i+n
			{{else}}
			{{template "appendRec0" .}}w.escapedQuote[:w.escapedQuoteByteLen]{{template "appendRec1" .}}

			loadIdx = i + int(w.quoteByteLen) // TODO: likely should adjust sourcing of offset to a src decode op
			{{end}}
			scanIdx = loadIdx
		}
	}{{if .CheckUTF8}}

	// srcLoadWithEncodingCheck performs the same duties as srcLoad and in a much more expensive
	// scan operation also validates that the field contents are valid utf8 sequences.
	srcLoadWithEncodingCheck := func(src []byte, loadIdx, scanIdx int) error {
		for {
			r, n := utf8.DecodeRune(src[scanIdx:])
			if n == 0 {
				// all good and no overlap issues, so just directly copy src
				{{template "appendRec0" .}}src[loadIdx:]{{template "appendRec1" .}}
				return nil
			}
			if n == 1 && r == utf8.RuneError {
				return ErrNonUTF8InRecord
			}

			if {{if .Escape}}!strings.ContainsRune(w.escapeControlRunes, r){{else}}r != w.quote{{end}} {
				scanIdx += n
				continue
			}

			//
			// found a {{if .Escape}}control rune of some kind{{else}}quote rune{{end}}
			//

			{{template "appendRec0" .}}src[loadIdx:scanIdx]{{template "appendRec1" .}}

			scanIdx += n
			loadIdx = scanIdx

			{{if .Escape}}
			if w.quote == r {
				{{template "appendRec0" .}}w.escapedQuote[:w.escapedQuoteByteLen]{{template "appendRec1" .}}
				continue
			}

			{{template "appendRec0" .}}w.escapedEscape[:w.escapedEscapeByteLen]{{template "appendRec1" .}}
			continue
			{{else}}
			{{template "appendRec0" .}}w.escapedQuote[:w.escapedQuoteByteLen]{{template "appendRec1" .}}
			{{end}}
		}
	}{{end}}

	// write the first field
	{
		f := &fields[0]

		{{if .CheckUTF8}}var scanForNonUTF8 bool
		{{end}}var src []byte

		switch f.kind {
		case wfkBytes:
			s := f.bytes
			if len(s) == 0 {
				if len(fields) == 1 {
					{{template "appendRec0" .}}w.twoQuotes[:w.twoQuotesByteLen]{{template "appendRecJoin" .}}w.recordSepBytes[:w.recordSepByteLen]{{template "appendRec1" .}}
					return w.writer.Write(w.recordBuf)
				}
				goto FIRST_FIELD_WRITTEN
			}

			{{if .CheckUTF8}}scanForNonUTF8 = (f._64_bits == 0)
			{{end}}src = s
		case wfkString:
			s := f.str
			if len(s) == 0 {
				if len(fields) == 1 {
					{{template "appendRec0" .}}w.twoQuotes[:w.twoQuotesByteLen]{{template "appendRecJoin" .}}w.recordSepBytes[:w.recordSepByteLen]{{template "appendRec1" .}}
					return w.writer.Write(w.recordBuf)
				}
				goto FIRST_FIELD_WRITTEN
			}

			{{if .CheckUTF8}}scanForNonUTF8 = (f._64_bits == 0)
			{{end}}src = unsafe.Slice(unsafe.StringData(s), len(s))
		case wfkRune:
			v, err := f.AppendText(w.fieldWriterBuf[:0])
			if err != nil {
				return 0, err
			}

			src = v
		default:
			v, err := f.AppendText(w.recordBuf)
			if err != nil {
				return 0, err
			}

			{{if .ClearMemoryAfterUse}}w.setRecordBuf(v){{else}}w.recordBuf = v{{end}}
			goto FIRST_FIELD_WRITTEN
		}

		//
		// process src buf
		//

		{{if .CheckUTF8}}if !scanForNonUTF8 { {{- end}}
			// so just need to scan for quotes, escapes, fieldSep, CR / LF / maybe all other kinds of newline sequences / recordSep

			{{if .ForceQuoteCommentStart}}
			var i int

			if !bytes.HasPrefix(src, commentBytes) { {{end}}
			{{if .ForceQuoteCommentStart}}	{{end}}i {{if not .ForceQuoteCommentStart}}:{{end}}= bytes.IndexAny(src, w.controlRunes)
			{{if .ForceQuoteCommentStart}}	{{end}}if i == -1 {
			{{if .ForceQuoteCommentStart}}	{{end}}	{{template "appendRec0" .}}src{{template "appendRec1" .}}
			{{if .ForceQuoteCommentStart}}	{{end}}	goto FIRST_FIELD_WRITTEN
			{{if .ForceQuoteCommentStart}}	{{end}}}
			{{if .ForceQuoteCommentStart}}}{{end}}

			{{template "appendRec0" .}}w.quoteBytes[:w.quoteByteLen]{{template "appendRec1" .}}

			r, n := utf8.DecodeRune(src[i:])
			switch r {
			case w.quote:
				{{template "appendRec0" .}}src[:i]{{template "appendRecJoin" .}}w.escapedQuote[:w.escapedQuoteByteLen]{{template "appendRec1" .}}
				srcLoad(src, i+n, i+n)
			case w.escape:
				{{template "appendRec0" .}}src[:i]{{template "appendRecJoin" .}}w.escapedEscape[:w.escapedEscapeByteLen]{{template "appendRec1" .}}
				srcLoad(src, i+n, i+n)
			default:
				srcLoad(src, 0, i+n)
			}

			{{template "appendRec0" .}}w.quoteBytes[:w.quoteByteLen]{{template "appendRec1" .}}

			goto FIRST_FIELD_WRITTEN
		{{if .CheckUTF8 -}} }

		// for each decoded rune, check if that rune fails to decode and if so then return an error
		// if the rune is in the set of controlRunes then replace whatever needs to be replaced and
		// continue loading

		{{if .ForceQuoteCommentStart}}
		isFirstRune := true
		{{end}}
		i := 0
		for {
			r, n := utf8.DecodeRune(src[i:])
			if n == 0 {
				// all good and no overlap issues, so just directly copy src
				{{template "appendRec0" .}}src{{template "appendRec1" .}}
				goto FIRST_FIELD_WRITTEN
			}
			if n == 1 && r == utf8.RuneError {
				return 0, ErrNonUTF8InRecord
			}

			if !strings.ContainsRune(w.controlRunes, r) {{if .ForceQuoteCommentStart}}&& (!isFirstRune || r != comment) {{end}} {
				i += n{{if .ForceQuoteCommentStart}}
				isFirstRune = false{{end}}
				continue
			}

			//
			// found a control rune of some kind
			//

			{{template "appendRec0" .}}w.quoteBytes[:w.quoteByteLen]{{template "appendRec1" .}}

			var err error
			switch r {
			case w.quote:
				{{template "appendRec0" .}}src[:i]{{template "appendRecJoin" .}}w.escapedQuote[:w.escapedQuoteByteLen]{{template "appendRec1" .}}
				err = srcLoadWithEncodingCheck(src, i+n, i+n)
			case w.escape:
				{{template "appendRec0" .}}src[:i]{{template "appendRecJoin" .}}w.escapedEscape[:w.escapedEscapeByteLen]{{template "appendRec1" .}}
				err = srcLoadWithEncodingCheck(src, i+n, i+n)
			default:
				err = srcLoadWithEncodingCheck(src, 0, i+n)
			}
			if err != nil {
				return 0, err
			}

			{{template "appendRec0" .}}w.quoteBytes[:w.quoteByteLen]{{template "appendRec1" .}}

			goto FIRST_FIELD_WRITTEN
		}
		{{end}}
	}

FIRST_FIELD_WRITTEN:

	for i := 1; i < len(fields); i++ {
		{{template "appendRec0" .}}w.fieldSepBytes[:w.fieldSepByteLen]{{template "appendRec1" .}}

SUBSEQUENT_FIELD_WRITE:
		for {
			f := &fields[i]

			{{if .CheckUTF8}}var scanForNonUTF8 bool
			{{end}}var src []byte

			switch f.kind {
			case wfkBytes:
				s := f.bytes
				if len(s) == 0 {
					break SUBSEQUENT_FIELD_WRITE
				}

				{{if .CheckUTF8}}scanForNonUTF8 = (f._64_bits == 0)
				{{end}}src = s
			case wfkString:
				s := f.str
				if len(s) == 0 {
					break SUBSEQUENT_FIELD_WRITE
				}

				{{if .CheckUTF8}}scanForNonUTF8 = (f._64_bits == 0)
				{{end}}src = unsafe.Slice(unsafe.StringData(s), len(s))
			case wfkRune:
				v, err := f.AppendText(w.fieldWriterBuf[:0])
				if err != nil {
					return 0, err
				}

				src = v
			default:
				v, err := f.AppendText(w.recordBuf)
				if err != nil {
					return 0, err
				}

				{{if .ClearMemoryAfterUse}}w.setRecordBuf(v){{else}}w.recordBuf = v{{end}}
				break SUBSEQUENT_FIELD_WRITE
			}

			//
			// process src buf
			//

			{{if .CheckUTF8 -}}if !scanForNonUTF8 { {{- end}}
				// so just need to scan for quotes, escapes, fieldSep, CR / LF / maybe all other kinds of newline sequences / recordSep

				i := bytes.IndexAny(src, w.controlRunes)
				if i == -1 {
					{{template "appendRec0" .}}src{{template "appendRec1" .}}
					break
				}

				{{template "appendRec0" .}}w.quoteBytes[:w.quoteByteLen]{{template "appendRec1" .}}

				r, n := utf8.DecodeRune(src[i:])
				switch r {
				case w.quote:
					{{template "appendRec0" .}}src[:i]{{template "appendRecJoin" .}}w.escapedQuote[:w.escapedQuoteByteLen]{{template "appendRec1" .}}
					srcLoad(src, i+n, i+n)
				case w.escape:
					{{template "appendRec0" .}}src[:i]{{template "appendRecJoin" .}}w.escapedEscape[:w.escapedEscapeByteLen]{{template "appendRec1" .}}
					srcLoad(src, i+n, i+n)
				default:
					srcLoad(src, 0, i+n)
				}

				{{template "appendRec0" .}}w.quoteBytes[:w.quoteByteLen]{{template "appendRec1" .}}

				break
			{{if .CheckUTF8 -}} }

			// for each decoded rune, check if that rune fails to decode and if so then return an error
			// if the rune is in the set of controlRunes then replace whatever needs to be replaced and
			// continue loading

			i := 0
			for {
				r, n := utf8.DecodeRune(src[i:])
				if n == 0 {
					// all good and no overlap issues, so just directly copy src
					{{template "appendRec0" .}}src{{template "appendRec1" .}}
					break
				}
				if n == 1 && r == utf8.RuneError {
					return 0, ErrNonUTF8InRecord
				}

				if !strings.ContainsRune(w.controlRunes, r) {
					i += n
					continue
				}

				//
				// found a control rune of some kind
				//

				{{template "appendRec0" .}}w.quoteBytes[:w.quoteByteLen]{{template "appendRec1" .}}

				var err error
				switch r {
				case w.quote:
					{{template "appendRec0" .}}src[:i]{{template "appendRecJoin" .}}w.escapedQuote[:w.escapedQuoteByteLen]{{template "appendRec1" .}}
					err = srcLoadWithEncodingCheck(src, i+n, i+n)
				case w.escape:
					{{template "appendRec0" .}}src[:i]{{template "appendRecJoin" .}}w.escapedEscape[:w.escapedEscapeByteLen]{{template "appendRec1" .}}
					err = srcLoadWithEncodingCheck(src, i+n, i+n)
				default:
					err = srcLoadWithEncodingCheck(src, 0, i+n)
				}
				if err != nil {
					return 0, err
				}

				{{template "appendRec0" .}}w.quoteBytes[:w.quoteByteLen]{{template "appendRec1" .}}

				break
			}

			break{{end}}
		}
	}

	{{template "appendRec0" .}}w.recordSepBytes[:w.recordSepByteLen]{{template "appendRec1" .}}
	return w.writer.Write(w.recordBuf)
{{if .ForceQuoteCommentStart -}}
}
{{- end}}
}
