func (w *Writer) writeRow_escapeO{{if .Escape}}n{{else}}ff{{end}}_quoteFirstFieldIfStartsWithCommentO{{if .ForceQuoteCommentStart}}n{{else}}ff{{end}}_memclearO{{if .ClearMemoryAfterUse}}n{{else}}ff{{end}}(fields []FieldWriter) (int, error) {

	defer func() {
		w.recordBuf = w.recordBuf[:0]
		// w.fieldBuf = w.fieldBuf[:0] // should no longer be required
	}(){{if .ForceQuoteCommentStart}}

	w.writeRow = w.writeRow_escapeO{{if .Escape}}n{{else}}ff{{end}}_quoteFirstFieldIfStartsWithCommentOff_memclearO{{if .ClearMemoryAfterUse}}n{{else}}ff{{end}}
	{{end}}

	// srcLoad is called after a quote, escape, or csv format sensitive character is found in the field data.
	// The parent context will handle wrapping the field in quotes and handle escaped replacing of the first
	// instance of quote or escape if applicable.
	//
	// It continues with appending the data up to a potentially additional quote or escape character, then
	// appends the escaped version of that character and continues repeating that process for the rest of
	// the field.
	//
	// Essentially the function does the same as the parent context except has no intent around overall
	// quoting the field or detecting runes outside of the quote + escape character.
	srcLoad := func(src []byte, loadIdx, scanIdx int) {
		// escape any quote {{if .Escape}}or escape {{end}}runes found
		for {
			// i := bytes.IndexAny(src, w.escapeRunes) // TODO: implement
			i := {{if .Escape}}bytes.IndexAny(src[scanIdx:], "\"\\"){{else}}bytes.IndexRune(src[scanIdx:], w.quote){{end}}
			if i == -1 {
				w.recordBuf = append(w.recordBuf, src[loadIdx:]...)
				return
			}

			w.recordBuf = append(w.recordBuf, src[loadIdx:i]...)

			{{if .Escape}}
			r, n := utf8.DecodeRune(src[i:])
			switch r {
			case w.quote:
				w.recordBuf = append(w.recordBuf, w.escapedQuote[:w.escapedQuoteByteLen]...)
			default:
				w.recordBuf = append(w.recordBuf, w.escapedEscape[:w.escapedEscapeByteLen]...)
			}

			loadIdx = i+n
			{{else}}
			w.recordBuf = append(w.recordBuf, w.escapedQuote[:w.escapedQuoteByteLen]...)

			// loadIdx = i+w.quoteByteLen // TODO: implement
			loadIdx = i+1
			{{end}}
			scanIdx = loadIdx
		}
	}

	// srcLoadWithEncodingCheck performs the same duties as srcLoad and in a much more expensive
	// scan operation also validates that the field contents are valid utf8 sequences.
	srcLoadWithEncodingCheck := func(src []byte, loadIdx, scanIdx int) error {
		for {
			r, n := utf8.DecodeRune(src[scanIdx:])
			if n == 0 {
				// all good and no overlap issues, so just directly copy src
				w.recordBuf = append(w.recordBuf, src[loadIdx:]...)
				return nil
			}
			if r == utf8.RuneError {
				return ErrNonUTF8InRecord
			}

			// i := bytes.IndexAny(src, w.escapeRunes) // TODO: implement

			if {{if .Escape}}!bytes.ContainsRune(w.escapeRunes, r){{else}}r != w.quote{{end}} {
				scanIdx += n
				continue
			}

			//
			// found a {{if .Escape}}control rune of some kind{{else}}quote rune{{end}}
			//

			w.recordBuf = append(w.recordBuf, src[loadIdx:scanIdx]...)

			scanIdx += n
			loadIdx = scanIdx

			{{if .Escape}}
			if w.quote == r {
				w.recordBuf = append(w.recordBuf, w.escapedQuote[:w.escapedQuoteByteLen]...)
				continue
			}

			w.recordBuf = append(w.recordBuf, w.escapedEscape[:w.escapedEscapeByteLen]...)
			continue
			{{else}}
			w.recordBuf = append(w.recordBuf, w.escapedQuote[:w.escapedQuoteByteLen]...)
			{{end}}
		}
	}

	// TODO: if first field begins with comment then wrap in quotes

	// write the first field
FIRST_FIELD_WRITE:
	for {
		f := &fields[0]

		var scanForNonUTF8 bool
		var src []byte

		switch f.kind {
		case wfkBytes:
			s := f.bytes
			if len(s) == 0 {
				break FIRST_FIELD_WRITE
			}

			scanForNonUTF8 = (f._64_bits == 0)
			src = s
		case wfkString:
			s := f.str
			if len(s) == 0 {
				break FIRST_FIELD_WRITE
			}

			scanForNonUTF8 = (f._64_bits == 0)
			src = unsafe.Slice(unsafe.StringData(s), len(s))
		case wfkRune:
			v, err := f.AppendText(w.fieldWriterBuf[:0])
			if err != nil {
				return 0, err
			}

			src = v
		default:
			v, err := f.AppendText(w.recordBuf)
			if err != nil {
				return 0, err
			}

			{{if .ClearMemoryAfterUse}}w.setRecordBuf(v){{else}}w.recordBuf = v{{end}}
			break FIRST_FIELD_WRITE
		}

		//
		// process src buf
		//

		if !scanForNonUTF8 {
			// so just need to scan for quotes, escapes, fieldSep, CR / LF / maybe all other kinds of newline sequences / recordSep

			// i := bytes.IndexAny(src, w.controlRunes) // TODO: implement
			i := bytes.IndexAny(src, "\"\n\r,")
			if i == -1 {
				w.recordBuf = append(w.recordBuf, src...)
				break
			}

			w.recordBuf = append(w.recordBuf, []byte(string(w.quote))...) // TODO: use a byte sequence

			r, n := utf8.DecodeRune(src[i:])
			switch r {
			case w.quote:
				w.recordBuf = append(w.recordBuf, src[:i]...)
				w.recordBuf = append(w.recordBuf, w.escapedQuote[:w.escapedQuoteByteLen]...)
				srcLoad(src, i+n, i+n)
			case w.escape:
				w.recordBuf = append(w.recordBuf, src[:i]...)
				w.recordBuf = append(w.recordBuf, w.escapedEscape[:w.escapedEscapeByteLen]...)
				srcLoad(src, i+n, i+n)
			default:
				srcLoad(src, 0, i+n)
			}

			w.recordBuf = append(w.recordBuf, []byte(string(w.quote))...) // TODO: use a byte sequence

			break
		}

		// for each decoded rune, check if that rune fails to decode and if so then return an error
		// if the rune is in the set of controlRunes then replace whatever needs to be replaced and
		// continue loading

		// controlRuneBytes := unsafe.Slice(unsafe.StringData(w.controlRunes), len(w.controlRunes))
		controlRuneBytes := []byte{}

		i := 0
		for {
			r, n := utf8.DecodeRune(src[i:])
			if n == 0 {
				// all good and no overlap issues, so just directly copy src
				w.recordBuf = append(w.recordBuf, src...)
				break
			}
			if r == utf8.RuneError {
				return 0, ErrNonUTF8InRecord
			}

			if !bytes.ContainsRune(controlRuneBytes, r) {
				i += n
				continue
			}

			//
			// found a control rune of some kind
			//

			w.recordBuf = append(w.recordBuf, []byte(string(w.quote))...) // TODO: use a byte sequence

			var err error
			switch r {
			case w.quote:
				w.recordBuf = append(w.recordBuf, src[:i]...)
				w.recordBuf = append(w.recordBuf, w.escapedQuote[:w.escapedQuoteByteLen]...)
				err = srcLoadWithEncodingCheck(src, i+n, i+n)
			case w.escape:
				w.recordBuf = append(w.recordBuf, src[:i]...)
				w.recordBuf = append(w.recordBuf, w.escapedEscape[:w.escapedEscapeByteLen]...)
				err = srcLoadWithEncodingCheck(src, i+n, i+n)
			default:
				err = srcLoadWithEncodingCheck(src, 0, i+n)
			}
			if err != nil {
				return 0, err
			}

			w.recordBuf = append(w.recordBuf, []byte(string(w.quote))...) // TODO: use a byte sequence

			break
		}

		break
	}

	for i := 1; i < len(fields); i++ {
SUBSEQUENT_FIELD_WRITE:
		for {
			f := &fields[i]

			var scanForNonUTF8 bool
			var src []byte

			switch f.kind {
			case wfkBytes:
				s := f.bytes
				if len(s) == 0 {
					break SUBSEQUENT_FIELD_WRITE
				}

				scanForNonUTF8 = (f._64_bits == 0)
				src = s
			case wfkString:
				s := f.str
				if len(s) == 0 {
					break SUBSEQUENT_FIELD_WRITE
				}

				scanForNonUTF8 = (f._64_bits == 0)
				src = unsafe.Slice(unsafe.StringData(s), len(s))
			case wfkRune:
				v, err := f.AppendText(w.fieldWriterBuf[:0])
				if err != nil {
					return 0, err
				}

				src = v
			default:
				v, err := f.AppendText(w.recordBuf)
				if err != nil {
					return 0, err
				}

				{{if .ClearMemoryAfterUse}}w.setRecordBuf(v){{else}}w.recordBuf = v{{end}}
				break SUBSEQUENT_FIELD_WRITE
			}

			//
			// process src buf
			//

			if !scanForNonUTF8 {
				// so just need to scan for quotes, escapes, fieldSep, CR / LF / maybe all other kinds of newline sequences / recordSep

				// i := bytes.IndexAny(src, w.controlRunes) // TODO: implement
				i := bytes.IndexAny(src, "\"\n\r,")
				if i == -1 {
					w.recordBuf = append(w.recordBuf, src...)
					break
				}

				w.recordBuf = append(w.recordBuf, []byte(string(w.quote))...) // TODO: use a byte sequence

				r, n := utf8.DecodeRune(src[i:])
				switch r {
				case w.quote:
					w.recordBuf = append(w.recordBuf, src[:i]...)
					w.recordBuf = append(w.recordBuf, w.escapedQuote[:w.escapedQuoteByteLen]...)
					srcLoad(src, i+n, i+n)
				case w.escape:
					w.recordBuf = append(w.recordBuf, src[:i]...)
					w.recordBuf = append(w.recordBuf, w.escapedEscape[:w.escapedEscapeByteLen]...)
					srcLoad(src, i+n, i+n)
				default:
					srcLoad(src, 0, i+n)
				}

				w.recordBuf = append(w.recordBuf, []byte(string(w.quote))...) // TODO: use a byte sequence

				break
			}

			// for each decoded rune, check if that rune fails to decode and if so then return an error
			// if the rune is in the set of controlRunes then replace whatever needs to be replaced and
			// continue loading

			// controlRuneBytes := unsafe.Slice(unsafe.StringData(w.controlRunes), len(w.controlRunes))
			controlRuneBytes := []byte{}

			i := 0
			for {
				r, n := utf8.DecodeRune(src[i:])
				if n == 0 {
					// all good and no overlap issues, so just directly copy src
					w.recordBuf = append(w.recordBuf, src...)
					break
				}
				if r == utf8.RuneError {
					return 0, ErrNonUTF8InRecord
				}

				if !bytes.ContainsRune(controlRuneBytes, r) {
					i += n
					continue
				}

				//
				// found a control rune of some kind
				//

				w.recordBuf = append(w.recordBuf, []byte(string(w.quote))...) // TODO: use a byte sequence

				var err error
				switch r {
				case w.quote:
					w.recordBuf = append(w.recordBuf, src[:i]...)
					w.recordBuf = append(w.recordBuf, w.escapedQuote[:w.escapedQuoteByteLen]...)
					err = srcLoadWithEncodingCheck(src, i+n, i+n)
				case w.escape:
					w.recordBuf = append(w.recordBuf, src[:i]...)
					w.recordBuf = append(w.recordBuf, w.escapedEscape[:w.escapedEscapeByteLen]...)
					err = srcLoadWithEncodingCheck(src, i+n, i+n)
				default:
					err = srcLoadWithEncodingCheck(src, 0, i+n)
				}
				if err != nil {
					return 0, err
				}

				w.recordBuf = append(w.recordBuf, []byte(string(w.quote))...) // TODO: use a byte sequence

				break
			}

			break
		}
	}

	w.recordBuf = append(w.recordBuf, w.recordSepBytes[:w.recordSepByteLen]...)
	return w.writer.Write(w.recordBuf)
}
